{% extends "layout.html.twig" %}

{% block title %}{{ "Login"|trans }}{% endblock %}

{% block content %}
<div class="container">

    <img alt="" class="my-5 mx-auto d-block" src="/images/logo/normal-with-text.png" />

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ "Authentication"|trans }}</h5>

            <form action="/login?redirect={{ redirect }}" method="POST">

                <div class="form-group">
                    <label for="username">{{ 'Login:'|trans }}</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <small id="username-message" class="form-text"></small>
                </div>

                <div class="form-group">
                    <label for="password">{{ 'Password:'|trans }}</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <small id="password-message" class="form-text"></small>
                </div>

                <div class="form-group">
                    <a href="/forgot-password">{{ "I forgot my password"|trans }}</a>
                </div>

{#            <fieldset>#}
{#                <label>{{ "Profile:"|trans }}</label>#}
{#                <select disabled='disabled' name="profile" id="profile" dojoType='dijit.form.Select'>#}
{#                    <option>{{ "Default profile"|trans }}</option>#}
{#                </select>#}
{#            </fieldset>#}


                <div class="form-check form-check-inline" title="{{ "Does not display images in articles, reduces automatic refreshes."|trans }}">
                    <input class="form-check-input" type="checkbox" name="less-traffic" id="less-traffic" value="1">
                    <label class="form-check-label" for="less-traffic">{{ "Use less traffic"|trans }}</label>
                </div>
                <small id="less-traffic-message" class="form-text"></small>

                {% if env('SESSION_COOKIE_LIFETIME') > 0 %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me" value="1">
                        <label class="form-check-label" for="remember-me">{{ "Remember me"|trans }}</label>
                    </div>
                    <small id="remember-me-message" class="form-text"></small>
                {% endif %}

                <hr/>

                <button type="submit" class="btn btn-primary">{{ 'Log in'|trans }}</button>
                <a class="btn btn-default" href="/register">{{ "Create new account"|trans }}</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
