{% extends "layout.html.twig" %}

{% block title %}{{ "Create new account"|trans }}{% endblock %}

{% block headerJs %}
    <script type="application/javascript">

    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <img alt="" class="my-5 mx-auto d-block" src="/images/logo/normal.png" />
        {% if not registrationsEnabled or availableAccounts < 1 %}
            {{ "New user registrations are administratively disabled."|trans|errorMessage|raw }}
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ "Create new account"|trans }}</h5>
                    <p class="card-text">{{ 'Your temporary password will be sent to the specified email. Accounts, which were not logged in once, are erased automatically 24 hours after temporary password is sent.'|trans }}</p>
                    <form action="/register" method="POST">

                        <div class="form-group">
                            <label for="login">{{ 'Desired login:'|trans }}</label>
                            <div class="input-group">
                                <input class="form-control" id="login">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button">Check availability</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="email">{{ 'Email:'|trans }}</label>
                            <input type="email" class="form-control" id="email">
                        </div>

                        <div class="form-group">
                            <label for="captcha">{{ turingQuestion['q']|trans }}</label>
                            <input type="text" class="form-control" id="captcha">
                        </div>

                        <button type="submit" class="btn btn-primary">{{ 'Submit registration'|trans }}</button>

                        {% for answer in turingQuestion['a'] %}
                            <input type="hidden" name="answers[]" value="{{ answer }}" />
                        {% endfor %}
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

    {#

        <p>
            <form method="GET" action="index.php">
                <input type="submit" value="{{ "Return to Tiny Tiny RSS"|trans }}">
            </form>

        <?php } else if ($action == "do_register") { ?>

        <?php
            $login = mb_strtolower(trim(db_escape_string($_REQUEST["login"])));
            $email = trim(db_escape_string($_REQUEST["email"]));
            $test = trim(db_escape_string($_REQUEST["turing_test"]));

            if (!$login || !$email || !$test) {
                print_error(__("Your registration information is incomplete."));
                print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>";
        return;
        }

        if ($test == "four" || $test == "4") {

        $result = db_query("SELECT id FROM ttrss_users WHERE
        login = '$login'");

        $is_registered = db_num_rows($result) > 0;

        if ($is_registered) {
        print_error(__('Sorry, this username is already taken.'));
        print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>";
        } else {

        $password = make_password();

        $salt = substr(bin2hex(get_random_bytes(125)), 0, 250);
        $pwd_hash = encrypt_password($password, $salt, true);

        db_query("INSERT INTO ttrss_users
        (login,pwd_hash,access_level,last_login, email, created, salt)
        VALUES ('$login', '$pwd_hash', 0, null, '$email', NOW(), '$salt')");

        $result = db_query("SELECT id FROM ttrss_users WHERE
        login = '$login' AND pwd_hash = '$pwd_hash'");

        if (db_num_rows($result) != 1) {
        print_error(__('Registration failed.'));
        print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>";
        } else {

        $new_uid = db_fetch_result($result, 0, "id");

        initialize_user($new_uid);

        $reg_text = "Hi!\n".
        "\n".
        "You are receiving this message, because you (or somebody else) have opened\n".
        "an account at Tiny Tiny RSS.\n".
        "\n".
        "Your login information is as follows:\n".
        "\n".
        "Login: $login\n".
        "Password: $password\n".
        "\n".
        "Don't forget to login at least once to your new account, otherwise\n".
        "it will be deleted in 24 hours.\n".
        "\n".
        "If that wasn't you, just ignore this message. Thanks.";

        $mailer = new Mailer();
        $rc = $mailer->mail(["to_address" => $email,
        "subject" => "Registration information for Tiny Tiny RSS",
        "message" => $reg_text]);

        if (!$rc) {
        print_error($mailer->error());
        }

        $reg_text = "Hi!\n".
        "\n".
        "New user had registered at your Tiny Tiny RSS installation.\n".
        "\n".
        "Login: $login\n".
        "Email: $email\n";

        $mailer = new Mailer();
        $rc = $mailer->mail(["to_address" => REG_NOTIFY_ADDRESS,
        "subject" => "Registration notice for Tiny Tiny RSS",
        "message" => $reg_text]);

        if (!$rc) {
        print_error($mailer->error());
        }

        print_notice(__("Account created successfully."));

        print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>";

        }

        }

        } else {
        print_error('Plese check the form again, you have failed the robot test.');
        print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>";

        }
        }
        ?>

        <?php } else { ?>

        <?php print_notice({{ 'New user registrations are currently closed.'|trans }}) ?>

        <?php print "<p><form method=\"GET\" action=\"index.php\">
            <input type=\"submit\" value=\"".__("Return to Tiny Tiny RSS")."\">
        </form>"; ?>

        <?php } ?>

    #}
